# List of dependencies for deployment

# Orchestration
langchain
langchain-google-genai
google-generativeai
langchain-community

# Interface & Data
streamlit
pandas
python-dotenv

# RAG & Memory: Might need to change these
chromadb
pypdf

# Testing
pytest