# List of dependencies for deployment

# Orchestration
langchain>=0.1.0
langchain-google-genai
google-generativeai
langchain-community
langchainhub

# Interface & Data
streamlit
pandas
python-dotenv

# RAG & Memory: Might need to change these
sqlalchemy

# Testing
pytest